USE [master]
GO
/****** Object:  Database [CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4]    Script Date: 4/19/2022 3:01:17 PM ******/
CREATE DATABASE [CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4', FILENAME = N'C:\Users\airblue\CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4_log', FILENAME = N'C:\Users\airblue\CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPTracker1p1NewDbContext-178896f2-f157-4fd6-88dd-a32903ea33b4]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/19/2022 3:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressBook]    Script Date: 4/19/2022 3:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressBook](
	[AId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](25) NULL,
	[Country] [nvarchar](25) NULL,
	[EmailId] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Department] [nvarchar](25) NULL,
	[Branch] [nvarchar](25) NULL,
	[Designation] [nvarchar](30) NULL,
 CONSTRAINT [PK_AddressBook] PRIMARY KEY CLUSTERED 
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPackages]    Script Date: 4/19/2022 3:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPackages](
	[CPackagesId] [int] IDENTITY(1,1) NOT NULL,
	[Package_Type] [nvarchar](100) NULL,
	[Package_Category] [nvarchar](100) NULL,
	[Item_Type] [nvarchar](50) NULL,
	[Item_Description] [nvarchar](max) NULL,
	[Recepient] [nvarchar](max) NULL,
	[recepient_Designation] [nvarchar](50) NULL,
	[recepient_Department] [nvarchar](50) NULL,
	[Branch] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[Receiver_Address] [nvarchar](250) NULL,
	[receiver_City] [nvarchar](50) NULL,
	[receiver_Country] [nvarchar](50) NULL,
	[recepient_ContactNo] [nvarchar](25) NULL,
	[Sender] [nvarchar](max) NULL,
	[Sender_Address] [nvarchar](250) NULL,
	[GetDateTime] [datetime2](7) NOT NULL,
	[UID] [varchar](20) NOT NULL,
	[PackageStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK_CPackages] PRIMARY KEY CLUSTERED 
(
	[CPackagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
